.answer-hidden {
	visibility: hidden;
}

.answer-visible {
	visibility: visible;
	animation-name: fade-in;
	animation-duration: 1s;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
